@import url("specific.css");

.modules-right {
    padding-right: 10px;
}

window#waybar {
    background: black;
    border-bottom: 0px transparent;
    color: white;
}

#window {
    color: lime;
}

tooltip {
  background: rgba(0, 0, 0, 1);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 6px;
    margin: 2 2px;
    background: rgba(34, 34, 34, 1);
    color: gray;
    border: 1px solid rgba(44, 44, 44, 1);
}

#workspaces button.focused {
    color: white;
    background: rgba(40, 85, 119, 1);
    border: 1px solid rgba(62, 106, 139, 1);
}

/*
#mode, #clock, #battery {
    padding: 0 0px;
}
*/

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#memory {color: lime;}
#memory.warning {color: yellow;}
#memory.critical {color: red;}

#battery {color: lime;}
#battery.warning {color: yellow;}
#battery.critical {color: red;}
#battery.charging {color: cyan;}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#network {color: lime}
#network.disconnected {color: red}

#cpu {color: lime}
#cpu.warning {color: yellow}
#cpu.critical {color: red}

/*
#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
*/
